//estilos de header
@use '../base/variables' as var;
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5%;
    background-color: var.$color-bg;
    color: var.$color-text;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    justify-content: space-between;


    &__container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__logo img {
        width: 130px;
        height: auto;
        display: block;
    }

    &__toggle {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var.$color-text;
        display: block;
        order: 2;
    }

    &__nav {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.active {
            max-height: 500px;
            padding-top: 15px;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        
        ul {
            padding: 0;
            list-style: none;
            text-align: center;
            width: 100%;
        }
    }

    &__item {
        text-align: center;
        width: 100%;
    }

    &__link {
        padding: 15px 0;
        display: block;
        font-size: 1.1rem;
        font-weight: 400;
        color: var.$color-text;
        border-bottom: 1px solid #eee;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 15px 0 10px;
        gap: 10px;

        a { margin-left: 0; text-align: center; }
    }

    @media (min-width: var.$bp-desktop) {
        flex-direction: row;
        padding: 20px 5%;

        &__container {
            width: auto;
            justify-content: flex-start;
        }

        &__logo { margin-right: 20px; }
        &__toggle { display: none; }

        &__nav {
            max-height: none;
            overflow: visible;
            flex-direction: row;
            width: auto;
            padding-top: 0;
            display: flex;
        }

        &__list {
            width: auto;
            padding: 0;
            margin: 0;
            height: 100%;
            margin-right: 20px;

            ul {
                display: flex;
                flex-direction: row;
                gap: 40px;
                list-style: none;
                margin: 0;
                padding: 0;
                align-items: center;
            }
        }

        &__item { width: auto; text-align: left; }

        &__link {
            padding: 10px 15px;
            border-bottom: none;
            font-size: 1.2rem;
            display: inline-block;
            line-height: normal;
            white-space: nowrap;
            text-decoration: none; 
            
            &:hover { color: var.$color-primary; }
        }
        
        .header__link:hover {
            color: var.$color-accent;
        }
        .header__list ul .header__item:first-child a:hover {
            color: var.$color-rose;
        }

        &__buttons {
            flex-direction: row;
            width: auto;
            margin: 0 0 0 30px;
            align-items: center;

            a { margin-left: 10px; }
        }
    }
}