//botones generales
@use '../base/variables' as var;

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
    transition: all 0.3s;
    font-size: 0.9rem;
    display: inline-block;
    text-align: center;
    
    &--primary {
        background-color: var.$color-primary;
        color: var.$color-bg;
        border: 1px solid var.$color-primary;
        &:hover { background-color: var.$color-primary-dark; border-color: var.$color-primary-dark; opacity: 1; }
    }

    &--outline-blue {
        background-color: var.$color-bg;
        color: var.$color-primary;
        border: 3px solid var.$color-primary;
        &:hover { background-color: var.$color-primary; color: var.$color-bg; border-color: var.$color-primary; opacity: 1; }
    }
    
    &--secondary {
        background-color: transparent;
        color: var.$color-primary;
        border: 2px solid var.$color-primary;
        &:hover { background-color: var.$color-primary; color: var.$color-bg; border-color: var.$color-primary; opacity: 1; }
    }

    &--tertiary {
        background-color: var.$color-bg;
        color: var.$color-primary;
        border: 3px solid var.$color-bg;
        padding: 12px 30px;
        text-transform: uppercase;
        &:hover { background-color: var.$color-primary-dark; opacity: 1; color: var.$color-bg; }
    }
    
    &--ver {
        background-color: #85a2a9;
        color: var.$color-bg;
        &:hover { background-color: var.$color-primary-dark; border-color: var.$color-primary-dark; opacity: 1; }
    }

    &--green {
        background-color: var.$color-accent;
        color: var.$color-bg;
        border: 1px solid var.$color-accent;
        &:hover {
            background-color: var.$color-accent-dark;
            border-color: var.$color-accent-dark;
        }
    }

    &--outline-green {
        background-color: var.$color-bg;
        color: var.$color-accent;
        border: 3px solid var.$color-accent;
        &:hover {
            background-color: var.$color-accent;
            color: var.$color-bg;
        }
    }

    &--rose {
        background-color: var.$color-rose;
        color: var.$color-white;
        border: 1px solid var.$color-rose;
        &:hover {
            background-color: var.$color-rose;
            border-color: var.$color-rose;
            opacity: 1;
        }
    }

    &--outline-rose {
        background-color: var.$color-bg;
        color: var.$color-rose;
        border: 3px solid var.$color-rose;
        &:hover {
            background-color: var.$color-rose;
            color: var.$color-white;
            border-color: var.$color-rose;
            opacity: 1;
        }
    }

    &--small {
        font-size: 0.85rem;
        padding: 8px 15px;
        text-align: center;
    }
    
    &--transparent {
        padding: 0.8rem 2.5rem;
        border: 3px solid #1E1E1E;
        background-color: transparent;
        color: #1E1E1E;
        &:hover {
            background-color: #1E1E1E;
            color: var.$color-white;
        }
    }
}