@use 'base/variables' as var;
@use 'base/reset';

@use 'components/buttons';

@use 'layout/header';
@use 'layout/footer';

@use 'pages/index';
@use 'pages/cafeteria';
@use 'pages/floristeria';
@use 'pages/catalogofloristeria';
@use 'pages/detallefloristeria';